<div class="card">
  <div class="card-content">
    <a class="card-title" href={{ title }} content test </a>
  </div>
  <div class="card-action">
    <span class="post__date">{{ createdAt }}</span>
    <span class="post_comments"> Comments and stuff</span>
  </div>
</div> --}}
