<section class="row">
  <h4>New Post:</h4>

  <form action="" method="post" class="createpost">
    <p class="input-field">
      <input type="title" name="title" placeholder="title">
    </p>
    <p class="input-field">
      <input type="link" name="url" placeholder="url">
    </p>
    <p class="input-field">
      <input type="submit" value="Submit" class="btn waves-effect waves-light">
    </p>
  </form>
</section>