<h1>Hacker News</h1>
{{#each posts}}
<div class="card">
  <div class="card-content">
    <a class="card-title" href="{{url.link}}"> {{ title }} title </a>

  {{log this}}
  </div>
  <div class="card-action">
    <span class="post__date">{{ createdAt }}</span>
    <span class="post_comments"> Comments</span>
  </div>
</div>
{{/each}}

<div class='controls'>
  <form action="/user/login">
      <input type="submit" value="Log In" />
  </form>

  <form action="/user/sign-up">
      <input type="submit" value="Sign Up" />
  </form>

  <form action="/">
      <input type="submit" value="New Post" />
  </form>
</div>
{{!-- {{#if Posts}}
  <ul class="post">
    {{#each posts}}
       {{> 'post'}}
    {{/each}}
  </ul>
{{/if}}
 --}}
